<form action="/drive/upload" method="POST" enctype="multipart/form-data">
  <label>
    Upload file
    <input name="uploaded_file" type="file" />
  </label>
  <button type="submit">Upload</button>
</form>
